@model ProPayment.Models.PROWorkouts

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PROWorkouts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StartDateTime" class="control-label"></label>
                <input asp-for="StartDateTime" class="form-control" />
                <span asp-validation-for="StartDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateTime" class="control-label"></label>
                <input asp-for="EndDateTime" class="form-control" />
                <span asp-validation-for="EndDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SportId" class="control-label"></label>
                <select asp-for="SportId" class="form-control" asp-items="ViewBag.SportId"></select>
                <span asp-validation-for="SportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkoutDuration" class="control-label"></label>
                <input asp-for="WorkoutDuration" class="form-control" />
                <span asp-validation-for="WorkoutDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkoutDistance" class="control-label"></label>
                <input asp-for="WorkoutDistance" class="form-control" />
                <span asp-validation-for="WorkoutDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
