@{
    ViewData["Title"] = "Home Page";
}

<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Tournaments" asp-action="Index">Turneringar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="CupOnlineMatches" asp-action="Index">Cup Online Matcher</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="PaymentVerifications" asp-action="Index">Betalningsunderlag</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Referees" asp-action="Index">Domare</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="RefereeFees" asp-action="Index">Domarersättningar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="PROMatches" asp-action="Index">PRO Matcher</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="RefereeReceipts" asp-action="Index">Domarkvitton</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="MatchFees" asp-action="Index">Matcharvoden</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="PROWorkouts" asp-action="Index">Workouts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Sports" asp-action="Index">Sporter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Receipts" asp-action="Index">Kvitton</a>
        </li>
    </ul>
</div>